<h1>
	You fell in love with: <%= thingVar.toUpperCase() %>
</h1>

<% if(thingVar.toLowerCase()==="neeraj")
	{ %>
		<p>Good CHOICE</p>
	<% } else { %>
			<p>Bad CHOICE</p>
		<% } %>
				
</p>

<p>
	This is the love file
</p>